<%= render partial: "shared/errors", locals: {resource: @active_record_question}%>
<div class="border border-red-500 w-full h-full flex justify-center p-2">
  <div class="flex flex-col w-full">
    <%= form_for @active_record_question, url: path, data: {turbo: false} do |f| %>
    <div class="flex flex-col w-1/2 mx-auto">
      <%= f.label :question %>
      <%= f.text_area :question %>
      <%= f.fields_for :active_record_answer_attributes, @active_record_answer do |ff| %>
        <%= ff.label :method_name %>
        <%= ff.text_field :method %>
        <%= ff.label :example %>
        <%= ff.text_area :example %>
        <%= ff.label :arguments %>
        <%= ff.text_field :arguments %>
      <% end %>
      <%= f.submit "Submit", class: " mt-6 p-2 border-blue-500 border hover:cursor-pointer hover:bg-blue-500"%>
    </div>
    <% end %>
  </div>
</div>
