<%= render partial: "shared/errors", locals: {resource: @active_record_question}%>
<div class="border border-red-500 w-full h-full flex justify-center">
  <%= form_for @active_record_question, url: path, data: {turbo: false}, class: "" do |f| %>
    <div class="border border-green-500 flex flex-col">
      <%= f.label :question %>
      <%= f.text_field :question %>
      <!-- why is this plural? wont work otherwise -->
      <%= f.fields_for :active_record_answer_attributes do |ff| %>
        <%= ff.label :method_name %>
        <%= ff.text_field :method %>
        <%= ff.label :description %>
        <%= ff.text_field :description %>
      <% end %>
      <%= f.submit "Submit", class: " mt-6 p-2 border-blue-500 border hover:cursor-pointer hover:bg-blue-500"%>
    </div>
  <% end %>
</div>
