<!DOCTYPE html>
<html>
  <head>
    <title>LearningRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="w-full h-20 bg-blue-500">
      <div class="flex justify-center">
        <% if user_signed_in? %>
          <p>Signed in as <%= current_user.email %></p>
        <% end %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="w-full h-20 bg-blue-500">
      <div class="flex justify-center">
        <p>This is the footer</p>
      </div>
    </footer>
  </body>
</html>
